.idea/*
venv/*
route/flask.log
config/__pycache__/*
services/__pycache__/*
services/cloudflare/__pycache__/*
log.log
test.py
torrent/*
images/*
*.pyc
config/*.pyc
models/*.pyc
services/*.pyc
captcha.png
screenshot.png

chromedriver
config/searcher.py
config/database.py
config/base.py
config/coordinate.py
